@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-dark-blue {
    background: linear-gradient(
      135deg,
      rgba(75, 85, 99, 1) 0%,
      rgba(70, 130, 180, 1) 100%
    );
  }

  .bg-gradient-green {
    background: linear-gradient(
      135deg,
      rgba(43, 169, 64, 1) 0%,
      rgba(34, 139, 34, 1) 100%
    );
  }

  .bg-gradient-red {
    background: linear-gradient(
      135deg,
      rgba(239, 68, 68, 1) 0%,
      rgba(220, 38, 38, 1) 100%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
